.container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.to-do-list {
    width: 30%;
    margin-top: 20px;
}
.add-new-list {
    margin-top: 24px;
    margin-left: 10px;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #FFFFFF !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0.75em 0 0 0 !important;
}