<div class="container">
    <mat-form-field class="to-do-list" appearance="fill">
        <mat-label>Select a to-do list</mat-label>
        <mat-select [(value)]="selectedList" (selectionChange)="onListChange($event.source.value)">
          <mat-option [value]="list.name" *ngFor="let list of todoLists">{{ list.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-mini-fab color="primary" aria-label="Add a new list"
        class="add-new-list" [matMenuTriggerFor]="menu">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab color="primary" aria-label="Edit selected list"
        class="add-new-list" (click)="openAddEditDialog('edit')" matTooltip="Edit selected list">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab color="primary" aria-label="Delete selected list"
        class="add-new-list" (click)="deleteList()" matTooltip="Delete selected list">
        <mat-icon>delete</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openAddEditDialog('add')" matTooltip="Add new list">Add new list</button>
        <button mat-menu-item (click)="openAddTaskDialog()" matTooltip="Add new task">Add new task</button>
    </mat-menu>
</div>
<p class="container see-all-tasks" (click)="seeAllTasks()">See all tasks</p>
<app-task *ngIf="listId" [listId]="listId" [todoLists]="todoLists"></app-task>